
@media (max-width: 1310px) {
    
}
@media (max-width: 1280px){
    .iframe{
        width: 270px;
        height: 250px;
    }
    .row{
        margin-left: -10px;
    }
    .services-inner-box{
        width: 300px;
        margin-left: -30px;
    }
    #features{
        width: 830px;
        margin-left: -20px;
    }
    #c1 {
        width: 600px;
    }
}
@media (max-width: 1200px) {
    .iframe{
        width: 270px;
        height: 250px;
    }
    .row{
        margin-left: -10px;
    }
    .services-inner-box{
        width: 300px;
        margin-left: -30px;
    }
    #features{
        width: 830px;
        margin-left: -50px;
    }
    #c1 {
        width: 600px;
    }
    
}

@media (max-width: 1158px) {
    .iframe{
        width: 270px;
        height: 250px;
    }
    .row{
        margin-left: -50px;
    }
    .services-inner-box{
        width: 310px;
        margin-left: -30px;
    }
    #features{
        width: 890px;
        margin-left: -110px;
    }
    #c1 {
        width: 600px;
    }
    
}

@media (max-width: 1120px) {
    .iframe{
        width: 270px;
        height: 250px;
    }
    .row{
        margin-left: -50px;
    }
    .services-inner-box{
        width: 300px;
        margin-left: -30px;
    }
    #features{
        width: 830px;
        margin-left: -130px;
    }
    #c1 {
        width: 600px;
    }
    
}

@media (max-width: 992px) {
    .iframe{
        width: 230px;
        height: 250px;
    }
    .row{
        margin-left: -50px;
    }
    .services-inner-box{
        width: 250px;
        margin-left: -30px;
    }
    #features{
        width: 690px;
        margin-left: -150px;
    }
    #c1 {
        width: 600px;
    }
    
}

@media (max-width: 1000px) {
    
    .iframe{
        width: 200px;
        height: 250px;
    }
    .row{
        margin-left: -70px;
    }
    .services-inner-box{
        width: 220px;
        margin-left: -30px;
    }
    #features{
        width: 640px;
        margin-left: -150px;
    }
    #c1 {
        width: 600px;
    }
    
    

}

@media (max-width: 768px) {
    .iframe{
        width: 230px;
        height: 250px;
    }
    .row{
        margin-left: -70px;
    }
    .services-inner-box{
        width: 300px;
        margin-left: -100px;
    }
    #features{
        width: 350px;
        margin-left: -10px;
    }
    #c1 {
        width: 600px;
    }
    
}

@media (max-width: 600px) {
    .iframe{
        width: 230px;
        height: 250px;
    }
    .row{
        margin-left: -50px;
    }
    .services-inner-box{
        width: 300px;
        margin-left: -100px;
    }
    #features{
        width: 350px;
        margin-left: -50px;
    }
    #c1 {
        width: 600px;
    }
    .section-title p {
        font-size: 14px;
        line-height: 25px;
    }
    .section-title h3 {
        font-size: 24px;
    }
    
	.section{
		padding: 70px 0px;
	}
	
	#features h4{
		font-size: 15px;
	}
	
}