.quodrant{
    width: 70%;
    height: 100vh;
    margin-left: 14%;
    padding: 6px;
    background-color: #f2bc94;
    border-radius: 18px;
}

.qtop,
.qbottom{
    width: 96%;
    height: 56vh;
}

.quodrant1,
.quodrant2{
    display: inline;
    float: left;
    width: 41%;
    height: 70%;
    border-radius: 30px;
    margin: 4%;
}

.quodrant1{
    background-color: #293250;
}

.quodrant2{
    background-color: #c4a35a;
}


