{% extends "layout.html" %}
{% block content %}
<br>
   <div class="container-fluid">
        <section class="row tm-contact-row">
            <div class="col-lg-6 tm-contact-col-left" id="tmContactForm" >
                <div class="tm-bg-black-transparent tm-contact-form" style="border-radius: 20px; margin-top: 40px; height: 450px;">
                    <div class="post-info flex-row" >
                                <span class="t1" style="color: black;">Growth&nbsp;&nbsp;{{data.to_dict.growth}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								 
    
                            </div><br>
                            <div class="post-info flex-row" >
                               
								 <span class="t1" style="color: black;">People_invested&nbsp;&nbsp;{{data.to_dict.peopleinvested}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
                            </div><br>
 <div class="post-info flex-row" >
                                <span class="t1" style="color: black;">Buying_price&nbsp;&nbsp;{{price.to_dict.buyingPrice}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								 
    
                            </div><br>
                            <div class="post-info flex-row" >
                               
								 <span class="t1" style="color: black;">Selling_price&nbsp;&nbsp;{{price.to_dict.sellingPrice}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
                            </div><br>
							<div class="post-info flex-row" >
                                <span class="t1" style="color: black;">Total_Shares &nbsp;&nbsp;{{price.to_dict.totalShares}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								 
    
                            </div><br>
                            <div class="post-info flex-row" >
                                
								 <span class="t1" style="color: black;">Occupied&nbsp;&nbsp;{{price.to_dict.occupied}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
                            </div><br>
                </div>
                
            </div>
            <div class="col-lg-6 tm-contact-col-right" style="margin-top: 40px;">
                <div class="tm-bg-black-transparent tm-contact-text" style="border-radius: 20px; height: 450px;">
                            
                    <button class="btn btn-secondary">Share</button>
<button class="btn btn-secondary">Coin</button><br><br>
<div id="curve_chart"></div>
                    
                   
                </div>
            </div>
        </section>

        
       
      </div>
      <!-- .container-fluid -->
    {% endblock content %}
