<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{%static 'css/login.css'%}">
      <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
	<script>
            $(document).ready(function()
            {
                $('.form-check-input') .click(function())
            });
    </script>
	
    
</head>
<body style="font-family:'Raleway';">
	<img src="/static/register.jpg" class="img-fluid" style="width:100%">
    <div class="container">
	    <div class="row" >
            <div class="col">
		<h1 class="pull-left"> Carvaan </h1>
		<br>
            </div>
            <div class="col">
                <form action="/login" id="query" class="form-inline" method="POST">
                {% csrf_token %}
                    
                    <div class="form-group" id="form1"><br>
                        <label for="team name" class="team1" >Team Name - </label><br>
                                {{form.team_name}}
                    </div>
                    <div class="form-group" id="form2">
                        <label for="email" class="team2">Email - </label><br>
                                {{form.email}}
                    </div>
                    <div class="form-group" id="form3">
                        <label for="phone number" class="team3">Phone number - </label><br>
                               {{form.phone}}
                    </div>
                    <div class="form-check" id="form4">
                        <label class="form-check-label" for="exampleCheck1">
                            <input type="radio" name="choose" value="Student" class="form-check-input" id="exampleCheck1">
                            Student
                        </label>
                        <label class="form-check-label" for="exampleCheck1">
                            <input type="radio" name="choose" value="Professional" class="form-check-input" id="exampleCheck1" style="margin-left: 25px;">
                            Professional
                        </label>
                    </div>
                    <h3 id="cont1" >Attach a document explaining the idea</h3>
                    <div class="btn" id="btn1">
                                      {{form.file}}
                        <input type="hidden" id="pic" accept="Idea/" name="Idea">
                        <h4 id="upload"></h4>
                        <button type="button" id="uploadButton" class="ui green button">Upload</button>
                    </div>
                    <input type="submit" class="btn" href="#" style="margin-left: 210px;">
                </form>
            </div>
       </div>
    </div>
    
</body>
</html>
