<!DOCTYPE HTML>
<html lang="en">
<head>
	{% load static %}
	<title>Home page</title>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-grid.css">
		<link rel="stylesheet" type="text/css" href="/static/css/layout.css">
		<!--<link rel="stylesheet" type="text/css" href="{% static 'js/index.js' %}">-->

	     
 
 
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
	
	
</head>
<body >
<header id="header">
  <div class="container d-flex">
    <div class="logo mr-auto">
    <h1 id="co1"> Carvaan </h1>
    </div>
    <div class="navbar-nav ml-auto">
			<div id="co2"> Username
      <a href="loginMain.html" class="nav-item nav-link"  id="co3"> Logout </a>
			</div>
		</div>
  </div>
</header>

<div class="container">
  <div class="position-absolute top-center">
	<center>
	<div class="btn-group btn-group-toggle" data-toggle="buttons">
	<a type="button" class="btn btn-dark btn-outline-dark" id="re1" href="/blog/"> My Blocks </a>
	<a type="button" class="btn btn-dark btn-outline-dark" id="re2" href="/addblog/"> Add a block </a>
	<a type="button" class="btn btn-dark btn-outline-dark" id="re4" href="/help/"> Help </a>
	</div>
	<!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> My Blocks
  </label>`
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Add a block
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Delete a blog
  </label>
	<label class="btn btn-secondary">
    <input type="radio" name="options" id="option4" autocomplete="off"> Help
  </label>
</div> -->
	</center>
	</div>
</div>

<div id="main" style="margin-top: 300px;">
	<article class="post featured">
	<header class="major">
	<div id="set">
       <div class="container">
            <div class="middlepane">
                <div class="container">
            <div class="toppane1">
                  <section class="container">
                       <div class="card">
                         <div class="front">
                            <p id="in11">Upload Image</p>
						    <input type="file" class="btn btn-outline-light" accept="BlogPost/" id="in2" name=""></input>
						    <input type="hidden" id="url" name="geturl" accept="BlogPost/">
						    
                        </div>
                               <div class="back"><div class="toppane4" contentEditable=true placeholder="Paste url"></div></div>
                              </div>
                                </section> 
                               <p id="in12">To drop url for video - 
                                      <button onclick="flip()" class="button">Click</button>
                                                        </p>
                    
                    </div>
                    
                    <!--mid part-->
                    <div class="toppane2">
                        <p id="in10"></p>
                         <label class="checkbox-inline" id="in3">
               		<input type="checkbox" value="" id="in4 "> Ask for intern
                </label><br>
          	<label class="checkbox-inline" id="in5">
             	<input type="checkbox" value="" id="in6"> Ask for freelancing
                 </label><br>
                        <label class="checkbox-inline" id="in7">
             	<input type="checkbox" value="" id="in8"> Ask for feedback
                 </label>
                    </div>
                     <!--End-->
                    <div class="toppane3" contentEditable=true placeholder="add discription"></div>
                    <a type="button" class="btn btn-outline-light" id="in9" >Add Blog</a>
            
</div>
           </div>
            
</div>
       </div>
        <br><br>  
		
		
	</header>
       	
	</article>
</div>
<script src="{% static 'js/index1.js' %}"></script>
</body>
</html>





