{% extends "layout.html" %}
{% block content %}
   <div id="features" class="section lb">
        <div class="container">
            

            <div class="row">
				<div class="col-md-4">
                    <div class="services-inner-box">
						<div><iframe height="175px;" width="310px" class="iframe" src="https://www.youtube.com/embed/b4hrUSBP4nc" frameborder="0" allowfullscreen></iframe></div><br>
						<p style="color: black;">Title - This is short title </p>
                        <p style="color: black;">Description - This is short description </p>
                        <a type="button" href="#" style="margin-left: 120px;">Detail</a>
					</div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="services-inner-box">
						<div><iframe height="175px;" width="310px" class="iframe" src="https://www.youtube.com/embed/b4hrUSBP4nc" frameborder="0" allowfullscreen></iframe></div><br>
						<p style="color: black;">Title - This is short title </p>
                        <p style="color: black;">Description - This is short description </p>
                        <a type="button" href="#" style="margin-left: 120px;">Detail</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-4">
                    <div class="services-inner-box">
						<div><iframe height="175px;" width="310px" class="iframe" src="https://www.youtube.com/embed/b4hrUSBP4nc" frameborder="0" allowfullscreen></iframe></div><br>
						<p style="color: black;">Title - This is short title </p>
                        <p style="color: black;">Description - This is short description </p>
                        <a type="button" href="#" style="margin-left: 120px;">Detail</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-4">
                   <div class="services-inner-box">
						<div><iframe height="175px;" width="310px" class="iframe" src="https://www.youtube.com/embed/b4hrUSBP4nc" frameborder="0" allowfullscreen></iframe></div><br>
						<p style="color: black;">Title - This is short title </p>
                        <p style="color: black;">Description - This is short description </p>
                        <a type="button" href="#" style="margin-left: 120px;">Detail</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-4">
                   <div class="services-inner-box">
						<div><iframe height="175px;" width="310px" class="iframe" src="https://www.youtube.com/embed/b4hrUSBP4nc" frameborder="0" allowfullscreen></iframe></div><br>
						<p style="color: black;">Title - This is short title </p>
                        <p style="color: black;">Description - This is short description </p>
                        <a type="button" href="#" style="margin-left: 120px;">Detail</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-4">
                    <div class="services-inner-box">
						<div><iframe height="175px;" width="310px" class="iframe" src="https://www.youtube.com/embed/b4hrUSBP4nc" frameborder="0" allowfullscreen></iframe></div><br>
						<p style="color: black;">Title - This is short title </p>
                        <p style="color: black;">Description - This is short description </p>
                        <a type="button" href="#" style="margin-left: 120px;">Detail</a>
					</div>
                </div><!-- end col -->    
                

            </div>
			
        </div>
    </div>

   

{% endblock content %}