{% extends "layout.html" %}
{% block content %}
	<div class="container" style="width:100%; height:auto; background:#f2bc94; display:flex; flex-direction:row; justify-content:center; flex-flow:wrap; border-radius: 40px; padding: 10px; margin-top: 17px;">
   <div class="box1">
<div class="post-info flex-row" >
                                <span class="try1">Growth&nbsp;&nbsp;{{data.to_dict.growth}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								 
    
                            </div>
                            <div class="post-info flex-row" >
                               
								 <span class="try1">People invested&nbsp;&nbsp;{{data.to_dict.peopleinvested}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
                            </div>
 <div class="post-info flex-row" >
                                <span class="try1">Buying price&nbsp;&nbsp;{{price.to_dict.buyingPrice}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								 
    
                            </div>
                            <div class="post-info flex-row" >
                               
								 <span class="try1">Selling price&nbsp;&nbsp;{{price.to_dict.sellingPrice}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
                            </div>
							<div class="post-info flex-row" >
                                <span class="try1">Total Shares &nbsp;&nbsp;{{price.to_dict.totalShares}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								 
    
                            </div>
                            <div class="post-info flex-row" >
                                
								 <span class="try1">Occupied&nbsp;&nbsp;{{price.to_dict.occupied}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
                            </div>


   </div>
<div class="box2">
<button class="bt1">Share</button>
<button class="bt2">Coin</button><br><br>
<div id="curve_chart" style="width: 400px; height: 250px; margin: 0 auto;" class="rec"></div>

</div>


</div>
{% endblock content %}
