<!--<form action="/login/" id="query" class="form-inline" method="POST">
    {% csrf_token %}
        <div class="form-group">
            <label for="email" class="team2">Email - </label><br>
                    {{form.email}}
        </div>
        <div class="form-group" id="form3">
            <label for="phone number" class="team3">Password - </label><br>
                   {{form.password}}
        </div>
        <input type="submit" class="btn" href="#" style="margin-left: 210px;">
    </form> -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Carvaan</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login">
			<div class="wrap">
				<form class="login-form" method="POST"  action="/login/" id="query">
                    {% csrf_token %}
					<span class="login-form-title p-b-43" id="fo1">
						CARVAAN
					</span><br>
					
				   <div class="wrap-input">
                       <span class="label-input">Username</span>
						<input class="input" type="text" name="user">
						
						
					</div>
					
                    <div class="wrap-input">
                        <span class="label-input">Password</span>
                        
						<input class="input" type="password" name="password">
						
					</div>
                        

					<div class="forgot">
                        <div>
							<button type="button" href="#"  class="btn btn-link" id="co1">
								Forgot Password?
							</button>
						</div>
					</div><br>
			
                    <div class="container-login-form-btn">
						<button class="login-form-btn" id="fo2">
							Submit
						</button>
					</div>
					
                </form>

				<div class="login-more" style="background-image: url('images/bg-01.jpeg');">
				</div>
			</div>
		</div>
	</div>
	

</body>
</html>
