<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Carvaan</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">

</head>
<body >
	
	<div class="limiter">
		<div class="container-login">
			<div class="wrap">
				<form class="login-form " action="/home/" method="POST">
					 {% csrf_token %}
					<span class="login-form-title p-b-43">
						CARVAAN
					</span><br>
					
				   <div class="wrap-input">
						<input class="input" type="text" name="team_name">
						
						<span class="label-input">Team Name</span>
					</div>
					
                    <div class="wrap-input">
                        
						<input class="input" type="email" name="pass">
						
						<span class="label-input">Email</span>
					</div>
                    
                    <div class="wrap-input">
                        
						<input class="input" type="number" name="phone">
						
						<span class="label-input">Phone Number</span>
					</div>
                         <div class="container" id="co2">

              <label class="checkbox-inline">
               		<input type="checkbox" value=""> Student
            </label>
          	<label class="checkbox-inline">
             	<input type="checkbox" value=""> Professional
                 </label>
                    </div>
					   <!-- <input type="file" class="input"></input><br> -->
					   <h3 id="co1">Attach a document explaining the idea<input type="file" class="btn" name="file">Upload</input></h3>
                	<button type="submit" class="btn"  style="margin-left: 210px; color: #696969;">Register</button>
					
                </form>

				<div class="login-more" style="background-image: url('{% static 'bg-01.jpeg' %}');">
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
