<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Carvaan</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
             

	<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-storage.js"></script>
	<script src="{% static 'js/index.js' %}"></script>

</head>
<body >
	
	<div class="limiter">
		<div class="container-login">
			<div class="wrap">
				<form class="login-form " action="/register/" method="POST" enctype="multipart/form-data">
					 {% csrf_token %}
					<span class="login-form-title p-b-43" style="font-size:45px; margin-top:-155px;">
						StartupCarvaan
					</span><br>
					
				   <div class="wrap-input" style="border: 1px solid #696969;">
						<input class="input" type="text" name="teamname" placeholder="Team Name" required/>
						
						<span class="label-input"></span>
					</div>
					
                    <div class="wrap-input" style="border: 1px solid #696969;">
                        
						<input class="input" type="email" name="email" placeholder="Email" required/>
						
						<span class="label-input"></span>
					</div>
                    
                    <div class="wrap-input" style="border: 1px solid #696969;">
                        
						<input class="input" type="phone Number" name="phone" placeholder="Phone Number" required/>
						
						<span class="label-input"></span>
					</div>
                         <div class="select">
                <select name="slct" id="slct" required>
                      <option selected disabled required>Choose an option</option>
                     <option value="1" name="student">Student</option>
                      <option value="2" name="professional">Professional</option>
                      
                               </select>
                               </div>
					<div>
						<h3 id="co1">Attach a document explaining the idea</h3>
						<input type="file" class="btn" accept="Idea/" id="files" name="blueone" style="background-color: #19343d; color:white; width:470px;" required></input>
				
				
					</div>
					   <!-- <input type="file" class="input"></input><br> -->
					   
					<button type="submit" class="btn"  style="margin-left: 110px; color: #696969; width:300px; background-color: #19343d; color:white;">Register</button>
					<div class="forgot">
                        <div>
							<a type="button" href="/login/"  class="btn btn-link" id="co1" style="font-size:15px; background-color: white; color:#19343d; padding:2px; margin-left:170px; margin-top:6px;">
								Have a account ? Login
							</a>
						</div><br>
					</div>
					<label for="emails">To check your status enter email:</label>
                     <input type="email" id="emails" name="emails" style="border-radius: 7px; color: antiquewhite; background-color: #19343d;">
                       <button type="submit" value="Check status" style="border-radius: 10px; color: antiquewhite; background-color: #19343d;">Check status </button>
                </form>

				<div class="login-more" style="background-image: url('{% static 'img/bg-01.jpeg' %}');">
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
		
